html, body {
  height: 100%;
}

.topnav .navbar .nav {
  float: right;
}

@media (min-width: 980px) {
  body { margin-top: 40px; }
}

.proem-tree {
  padding: 0;
  margin-bottom: 18px;
  border-radius: 0;
  border-top: 3px solid #E1E1E1;
  border-bottom: 1px solid #CCC;
}

.proem-tree .hero-unit {
  background-image: url(/media/img/banner-bg.png);
}

.proem-tree .hero-unit {
  padding: 12px 0 0;
  margin-bottom: 0;
}

.features p {
  margin: 4px 0;
  color: #919191;
  line-height: 1.2em;
  text-align: justify;
}

.features h3 {
  color: #55B8D5;
}

.downloads {
  text-align: center;
  margin: 20px auto;
}

.docs {
  min-height: 900px;
  background: url(/media/img/big-tree.png) no-repeat fixed;
  background-position: 25%;
}

.nav-tabs.nav-stacked > li > a {
  background-color: #FFF;
  opacity: 0.97;
}

.nav-tabs.nav-stacked > li > a:hover {
  background-color: #C2DF86;
  opacity: 0.97;
}

.well {
  box-shadow: none;
  -webkit-box-shadow: none;
  opacity: 0.97;
}

.docs.container > .row {
  margin-top: 30px;
}

pre.prettyprint {
  margin: 16px 0;
  padding: 18px 6px 0 0;
  background-color: #F8F8FF;
  border: 1px solid #e1e1e1;
}